@using Capstone.Web.Models;
@using Capstone.Web.Controllers;
@model Dictionary<ParkModel, int>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <h2> Top Parks</h2>

    @foreach(KeyValuePair<ParkModel, int> kvp in Model)
    {
        <div>
            <img src="@Url.Content("~/Content/ParkPic/" + kvp.Key.ParkCode + ".jpg")" />
            @kvp.Key.ParkName;
            @kvp.Value;

        </div>
    }

    <p> </p>

   
</section>