@using Capstone.Web.Models;
@using Capstone.Web.Controllers;
@model SurveyViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Survey!</h2>

<section>

    <p>Here's the survey</p>

    @using (Html.BeginForm("FavoritParks", "Home", FormMethod.Post))
    {
        <div>
            <p>
                @Html.HiddenFor(m => m.Park.ParkName)
                @Html.Label("EmailAddress", "Enter Your email address")
                @Html.TextBoxFor(m => m.Survey.EmailAddress)
            </p>

        </div>
    }


</section>