@using Capstone.Web.Models;
@using Capstone.Web.Controllers;
@model WeatherViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Park.ParkName</h2>

<section>

    <p>Low temp:@Model.Forecast[0].Low </p>

</section>