<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <header>
        @*<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <a class="logo">
                <img src="@Url.Content("~/Content/other/logo.png")" />
            </a>
        </nav>*@

    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
