<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/StyleSheet.css" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <a class="logo">
                <img class="img-responsive" src="@Url.Content("~/Content/other/logo.png")" />
            </a>
        </nav>

    </header>
 
    <section>
        @RenderBody()
    </section>
    
</body>
</html>
