

body {
    width: 100%;
    background-color: #0E402D;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

section {
    clear: both;
    display: block;
    width: 70%;
    margin: 20px auto;
    text-align: center;
    height: auto;
    background-color: beige;
    border-radius: 7px;
}

/**** NAVBAR ****/
#logo {
    width: 120px;
}

.navbar-default {
    background-color: #04773b;
    border-color: #0b5105;
}

    .navbar-default .navbar-brand {
        color: #f7f7f7;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5ce641;
        }

    .navbar-default .navbar-text {
        color: #f7f7f7;
    }

    .navbar-default .navbar-nav > li > a {
        color: #f7f7f7;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #5ce641;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #5ce641;
        background-color: #0b5105;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #5ce641;
        background-color: #0b5105;
    }

    .navbar-default .navbar-toggle {
        border-color: #0b5105;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #0b5105;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #f7f7f7;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #f7f7f7;
    }

    .navbar-default .navbar-link {
        color: #f7f7f7;
    }

        .navbar-default .navbar-link:hover {
            color: #5ce641;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f7f7f7;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #5ce641;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #5ce641;
        background-color: #0b5105;
    }
}

/***** INDEX LAYOUT ****/

#index-navbar {
    margin-bottom: 0px;
}
#index-layout-fullscreen {
    height: 100%;
    overflow: hidden;
}
.index-layout-section {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: #0E402D;
}


/***** Index Carousel VIEW *****/
.carousel-inner div img {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    border-radius: 10px;
}
.c-wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.c-wrapper .item {
    height: 100%;
    margin-top: 1em;
}

#quotes {
    margin-bottom: 35%;
    padding: 1em;
    border: solid 0.1em;
    border-color: #564D4A;
    background: rgba(280,280,280,.25);
    border-radius: 5px;
}
    #quotes p1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.75em;
        color: #EB5E28;
    }
    #quotes p2 {
        font-style: italic;
        color: #EB5E28;
        font-size: 1.25em;
    }

.carousel-indicators {
    margin-bottom: 10em;
}



/***** PARK LIST VIEW *****/
.park-list-container {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

    .park-list-container img {
        width: 100%;
    }

.park-list-text {
    font-size: 2em;
}

    .park-list-text h2 {
        font-weight: 800;
    }

    .park-list-text p {
        display: block;
        text-align: justify;
    }

/***** PARK DETAIL VIEW *****/
h2 {
    text-align: center;
}

h3 {
    margin-top: 0px;
}

.detail-container {
    width: 100%;
    height: inherit;
    margin-bottom: 0px;
}

    .detail-container p {
        font-size: 18px;
    }
/***** DETAIL LEFT SIDE(IMG-STATS) *****/
.detail-img-stats {
    float: left;
    width: 45%;
}

    .detail-img-stats img {
        width: 100%;
        margin: 1em;
    }

.detail-stats-table {
    display: inline-block;
    min-width: 100%;
    margin-left: 1em;
    float: left;
    text-align: left;
    font-size: 16px;
    border: solid;
}

    .detail-stats-table tbody {
        display: table;
        width: 100%;
    }

    .detail-stats-table td {
        padding-right: .1em;
        font-size: 1em;
    }

/***** DETAIL RIGHT SIDE *****/
.detail-description {
    width: 54%;
    float: right;
    padding: .5em;
    flex-wrap: wrap;
    text-align: justify;
    padding: 20px;
}


/***** DETAIL WEATHER FORECAST *****/
.detail-weather-forecast {
    width: 100%;
    display: flex;
    height: 50%;
}

.detail-todays-forecast {
    display: block;
    width: 100%;
}

    .detail-todays-forecast h2 {
        margin: 0px;
    }

    .detail-todays-forecast img {
        width: 15%;
    }

.detail-week-forecast {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
}

    .detail-week-forecast tr {
        display: table-row;
    }

    .detail-week-forecast td img {
        width: 50%;
    }





/***** Favorite Park VIEW *****/

.favoriteParkImg {
    width: 150px;
}
