
body {
    width: 100%;
    background-color: #634F3E;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body, header, nav {
    margin: 0px;
}

header {
    background-color: #006600;
    color: white;
    padding: 25px 15px;
}

    header img {
        width: 20%;
        position: absolute;
    }

nav {
    background-color: #8DC63F;
    margin-bottom: 20px;
    padding: 5px;
    height: 125px;
}

    nav ul {
        float: left;
    }

    nav li {
        list-style-type: none;
        color: white;
        margin-left: 25px;
        margin-bottom: 10px;
        font-size: 1.3em;
        float: left;
    }

        nav li a {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }

            nav li a:hover {
                text-decoration: underline;
            }

section {
    clear: both;
    display: block;
    width: 70%;
    margin: 20px auto;
    text-align: center;
    min-height: 450px;
    background-color: beige;
    border-radius: 7px;
}

/***** PARK DETAIL VIEW *****/
h2 {
    text-align: center;
}

h3 {
    margin-top: 0px;
}

.detail-container {
    width: 100%;
    height: 50%;
    margin-bottom: 0px;
}

/***** DETAIL LEFT SIDE(IMG-STATS) *****/
.detail-img-stats {
    float: left;
    width: 45%;
}

    .detail-img-stats img {
        width: 100%;
        margin: 1em;
    }

.detail-stats-table {
    display: inline-block;
    min-width: 100%;
    margin-left: 1em;
    float: left;
    text-align: left;
    font-size: 16px;
    border: solid;
}

    .detail-stats-table tbody {
        display: table;
        width: 100%;
    }
    .detail-stats-table td {
        padding-right: .1em;
        font-size: 1em;
    }

/***** DETAIL RIGHT SIDE *****/
.detail-description {
    width: 54%;
    float: right;
    padding: .5em;
    flex-wrap: wrap;
    text-align: left;
    font-size: 24px;
}


/***** DETAIL WEATHER FORECAST *****/
.detail-weather-forecast {
    width: 100%;
    height: 50%;
    margin-top: 1em;
}

.detail-todays-forecast {
    display: inline;
    width: 20%;
}
.detail-todays-forecast img {
    width: 15%;
}

.detail-week-forecast {
    display: inline-block;
    width: 80%;
}

    .detail-week-forecast tr {
        display: table-row;
    }

.detail-week-forecast td img {
    width: 15%;
}


/***** PARK LIST VIEW *****/
.parkListing {
    text-align: center;
    margin-left: 100px;
}

    .parkListing img {
        width: 90%;
        text-align: center;
    }

.detailNav {
    background-color: beige;
    height: 75px;
}

.listingText {
    display: flex;
    text-align: left;
    font-size: 20px;
}
