

body {
    width: 100%;
    background-color: #0E402D;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

section {
    clear: both;
    display: block;
    width: 70%;
    margin: 20px auto;
    text-align: center;
    height: auto;
    background-color: beige;
    border-radius: 7px;
}

/**** NAVBAR ****/
#logo {
    width: 120px;
}

.navbar-default {
    background-color: #04773b;
    border-color: #0b5105;
}

    .navbar-default .navbar-brand {
        color: #f7f7f7;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #5ce641;
        }

    .navbar-default .navbar-text {
        color: #f7f7f7;
    }

    .navbar-default .navbar-nav > li > a {
        color: #f7f7f7;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #5ce641;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #5ce641;
        background-color: #0b5105;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #5ce641;
        background-color: #0b5105;
    }

    .navbar-default .navbar-toggle {
        border-color: #0b5105;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #0b5105;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #f7f7f7;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #f7f7f7;
    }

    .navbar-default .navbar-link {
        color: #f7f7f7;
    }

        .navbar-default .navbar-link:hover {
            color: #5ce641;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f7f7f7;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #5ce641;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #5ce641;
        background-color: #0b5105;
    }
}

/***** INDEX LAYOUT ****/

#index-navbar {
    margin-bottom: 0px;
}

#index-layout-fullscreen {
    height: 97%;
    overflow: hidden;
}

.index-layout-section {
    margin: 0px;
    width: 100%;
    height: 90%;
    border-radius: 0px;
    background-color: #0E402D;
}


/***** Index Carousel VIEW *****/
#myCarousel {
    height: 90%;
}

.c-wrapper div {
    margin-top: 3%;
    height: 100%;
}

.carousel-inner div img {
    margin: 0 auto;
    width: 95%;
    max-height: 95%;
    border-radius: 10px;
    border: solid 1px;
    border-color: black;
}

.carousel-inner {
    border: solid 4px;
    border-radius: 10px;
    border-color: black;
    background-color: beige;
}

.c-wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 1.2em;
    padding-top: .1em;
}

    .c-wrapper .item {
        height: 100%;
        margin-top: 1em;
    }

#quotes {
    border: solid 0.1em;
    border-color: #564D4A;
    background: rgba(280,280,280,.25);
    border-radius: 5px;
    height: auto;
    margin-bottom: 15%;
}

    #quotes p1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.5em;
        color: white;
    }

    #quotes p2 {
        font-style: italic;
        color: white;
        font-size: 125%;
    }

/***** PARK LIST VIEW *****/
.park-list-container {
    margin: 0px;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

    .park-list-container img {
        width: 75%;
        border-radius: 5px;
        margin: auto;
    }

.park-list-text {
    font-size: 2em;
}

    .park-list-text h2 {
        font-weight: 800;
    }

    .park-list-text p {
        display: block;
        text-align: justify;
    }

/***** PARK DETAIL VIEW *****/
h2 {
    text-align: center;
}

h3 {
    margin-top: 0px;
}

h4 {
    margin-bottom: 0px
}

.detail-container {
    width: 100%;
    height: inherit;
    margin-bottom: 0px;
    margin-top: 0px
}

    .detail-container p {
        font-size: 18px;
    }

#detail-caption-description {
    margin-top: .5em;
    padding: 0px;
}

.detail-img-stats {
    width: 45%;
    border: solid .15em lightgray;
    border-radius: 2px;
    margin-top: 1em;
}

    .detail-img-stats img {
        width: 100%;
        margin: 1em;
    }

.detail-stats-table {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

    .detail-stats-table tbody {
        display: table;
        width: 100%;
    }

    .detail-stats-table td {
        padding-right: .1em;
        padding-left: .1em;
        font-size: 1em;
    }

.detail-description {
    width: 100%;
    padding: .4em;
    flex-wrap: wrap;
    text-align: justify;
    border: solid .1em lightgray;
    border-radius: 2px;
}

#detail-right-caption {
    padding: 0px;
}

.detail-weather-forecast {
    width: 100%;
    display: flex;
    height: 50%;
}

.detail-todays-forecast {
    display: inline-block;
    border:solid .15em lightgray;
    border-radius: 2px;
    padding: 0px;
}

    .detail-todays-forecast img {
        display: inline-block;
        width: 30%;
    }

#temps {
    display: block;
    width: 100%;
    padding: 0px
}
#temps p {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0px;
}

#detail-advice {
    margin-top: 1em;
    border: solid .1em lightgray;
    border-radius: 2px;
}

.detail-week-forecast {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    border: solid .1em lightgray;
    border-radius: 2px;
}

    .detail-week-forecast tr {
        display: table-row;
    }

    .detail-week-forecast td img {
        width: 50%;
    }

#detail-picture-summary-tile {
    display: inline-flex;
    width: 45%;
    height: 100%;
    margin: .5%;
}

#detail-weather-tile {
    display: inline-flex;
    width: 45%;
    height: 100%;
    margin: 0%;
}

/***** Favorite Park VIEW *****/

section .favorite-park-tiles {
    display: inline-flex;
    width: 40%;
}

.row {
    width: 100%;
    margin-right: 0px;
}

    .row div {
        width: 100%;
        padding: .5em;
    }

#survey-form {
    padding-bottom: 2%;
}
